<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="filename">./logs</Property>
	</Properties>

	<Appenders>

		<RollingFile name="File" fileName="${filename}/prints.log"
			filePattern="${filename}/prints-%d{yyyy-MM-dd}.log">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<SizeBasedTriggeringPolicy size="1000" />
		</RollingFile>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>


	</Appenders>

	<Loggers>

		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>

<!-- 		<Logger name="automation" level="trace" additivity="false"> -->

	<!-- 	<Logger name="automation" level="trace" additivity="false">
			<AppenderRef ref="File" />
		</Logger> -->

	</Loggers>
</Configuration>
